div#header
  h1 SurEspectro
  p Entorno para las bajas frecuencias

div#html-container(style='display: none')
.content-divider
.content
   audio(controls, src="http://suservidor.servideo.org:8000/jardincosmico.ogg" )
   hr
  

h1 


section.css-table
  section.two-column
    section.cell
      h2 El Concierto
      p En los conciertos masivos hay una experiencia única para las personas que están cerca a los parlantes de frecuencias bajas, una gran vibración puede  ser percibida no solo por los oídos sino también por órganos del cuerpo. Los experimentos en el Infrasonido van desde la localización de artillería en la segunda guerra mundial hasta frecuencias de resonancia de los ojos (19hz) que hacen ver alucinaciones (The Gosht in the Machine, Vic Tandy)

   
    section.cell
      h2 Spaces
      p "The Palace of Minos is an enormous marble structure, without furniture, lit by torches in bronze holders. The walls are covered in Minoan-style frescos of bulls, dolphins and people. The Palace winds on and on, chamber after chamber, with huge staircases and great pillars inscribed in unreadable languages." Divine Comedy
     
section.css-table
  section.three-column
    section.cell
      h3 La Célula
      img(src="http://mimg.sulekha.com/english/the-cell/stills/cell7.jpg")
    section.cell
      h3 Deep dark sub
      img(src="http://i1.sndcdn.com/artworks-000022128562-zl7vt6-crop.jpg?c765bfd")
    section.cell
      h3 Deep Ocean
      img(src="http://www.mtsmuv.org/images/Tourism%20Subs/DeepRover_DR1001-1002.jpg")